/node_modules
/public/hot
/public/storage
/public/assets
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
