@use "sass:map";
@import "./color.scss";

button {
    background: none;
    outline: none;
    border: none;
    transition: all 300ms;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.radio-tab {
    margin: 0;
    display: flex;
    align-items: center;
    input {
        display: none;
    }
    span {
        padding: 8px 12px;
        cursor: pointer;
    }
    input:checked ~ span {
        background-color: map.get($colors, "dark-70");
    }
}

.card-custom {
    overflow: hidden;

    &-card-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .left-menu {
        width: fit-content;
        border-radius: 4px;
        display: flex;
        overflow: hidden;
    }

    .right-menu {
        display: flex;
        gap: 12px;
        align-items: center;
        .button-container {
            cursor: pointer;

            input {
                display: none;

                &:checked ~ span i {
                    color: map.get($colors, "primary-70");
                }
            }

            span i {
                color: map.get($colors, "dark-30");
                font-size: 24px;
            }
        }
    }
}

button.radio,
.font-size-container {
    margin: 0;
    display: flex;
    align-items: center;
    height: fit-content;
    input {
        display: none;
    }
    &.full-screen-btn {
        padding: 8px 20px;
        background: none;
        outline: none;
        border: none;
    }
    span {
        padding: 8px 12px;
        cursor: pointer;
    }
    input:checked ~ span {
        background-color: map.get($colors, "dark-70");
    }
}

.text-input {
    .plagiarism-checker-text__area {
        border: none;
        background-color: map.get($colors, "gray-70");
        transition: all 300ms;
        height: 60px;
        &:focus {
            background-color: white;

            &#text-check {
                height: 800px;
            }
        }
    }
    .footer-section {
        display: flex;
        align-items: center;
        gap: 12px;

        .run-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            background-color: map.get($colors, "gray-70");
            color: map.get($colors, "gray-120");
            border-radius: 100px;
            padding: 4px 16px;
            font-weight: 700;

            &:hover {
                background-color: map.get($colors, "primary-70");
                color: white !important;

                i {
                    color: white !important;
                }
            }
        }
    }
}

.result-input {
    padding: 16px 24px;
    background-color: white;
    max-height: 400px;
    overflow-y: auto;
}

.history {
    &-tabs {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 8px;

        .nav-item {
            .nav-link {
                text-decoration: underline;
                padding: 0;
                border: none;
                background-color: transparent;
                &.active {
                    text-decoration: underline;
                    border: none;
                    color: map.get($colors, "primary-70");
                }
            }
        }
    }
}

.highlight-red {
    background-color: #ad444536;
    color: map.get($colors, "danger-100");
}

.right-results {
    .estimation-box {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .words-detail {
        display: flex;
        align-items: stretch;
        &-item {
            display: flex;
            padding: 8px 0px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-bottom: 1px solid #e1e8ed;
            .number {
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
            }
        }
    }

    .accordion-embed {
        .card-header {
            .pill {
                display: flex;
                padding: 4px 16px;
                align-items: flex-start;
                border-radius: 28px;
                background: #bcdffc;
                color: map.get($colors, "primary-130");
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                width: fit-content;
            }
            .btn-link {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .card-body {
            embed {
                height: 320px;
            }
        }
    }

    .radio-tab-container-2 {
        gap: 10px;
        background-color: transparent;
        border-radius: none;
        .radio-tab {
            span {
                background-color: #f5f5f5;
                border-radius: 3px;
                color: rgba(63, 66, 84, 0.5);
            }

            & input[type="radio"]:checked + span {
                background-color: #bcdffc;
            }
        }
    }

    .result-container {
        display: flex;
        gap: 12px;
        flex-direction: column;
        max-height: 600px;
        overflow: auto;
    }

    .index-pill {
        color: #1f95f5;
        background-color: #bcdffc;
        border-radius: 100px;
        padding: 2px 10px;
    }
}
.calendar-container {
    .type-container {
        height: fit-content;
    }

    .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 12px;

        .date-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            gap: 4px;
            padding: 8px;
            border-radius: 3px;
            background: #f1f5f8;
            .date {
                color: #90a6b9;
                font-family: Helvetica, sans-serif;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 12px;
            }

            .value {
                color: #90a6b9;
                font-family: Helvetica, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
            }

            &.active {
                background: #dbedfc;
                .value {
                    color: #204e74;
                }
            }
        }
    }
}
