.header-general .nav-header {
    align-items: end;
    justify-content: center;
}
.header-general .nav-header .dropdown-toggle.nav-link:after, 
.header-general .nav-header .dropdown-toggle.btn:after {
    content: none;
}